<!-- home/index.ejs -->

<%- include('../../partials/head') %>
<%- include('../../partials/header') %>
<main
  class="section is-flex-grow-1 is-flex is-flex-direction-column is-align-items-stretch"
>
  <% if (cargo === "admin") { %>
  <div class="container py-4">
    <div class="box p-0">
      <form action="/report/<%= token %>" method="GET">
        <input
          class="button is-info is-fullwidth py-6 has-text-white title is-4"
          type="submit"
          value="Relatórios"
        />
      </form>
    </div>
  </div>
  <% } %> <% if (cargo === "admin") { %>
  <div class="container py-4">
    <div class="box p-0">
      <form action="/dashboard/<%= token %>" method="GET">
        <input
          class="button is-warning is-fullwidth py-6 has-text-white title is-4"
          type="submit"
          value="Admin Dashboard"
        />
      </form>
    </div>
  </div>
  <% } %>
  <div class="container py-4">
    <div class="box p-0">
      <form action="/pricing/<%= token %>" method="GET">
        <input
          class="button is-success is-fullwidth py-6 has-text-white title is-4"
          type="submit"
          value="Iniciar Agendamento"
        />
      </form>
    </div>
  </div>
</main>

<script src="/public/js/hideHeroFoot.js"></script>
<script src="/public/js/showBreadcrumb.js"></script>
<script>
  setTimeout(() => hideHeroFoot(), 100);
  setTimeout(() => showBreadcrumb(), 100);
</script>
<%- include('../../partials/footer') %>